.app-div {
  background: #ffa900;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-dv {
  background: white;
  width: 500px;
  height: 550px;
  border-radius: 5px;
  margin-top: 10px;
}

.app-2dv {
  width: auto;
  height: 60px;
  text-align: center;
}

.app-2dv2 {
  margin-top: -21px;
  width: auto;
  height: 490px;
}

.app-2dv2 h1 {
  text-align: center;
  color: #ffa900;
}

.app-2dv2 div {
  margin-top: -10px;
  margin-left: 20px;
  width: 420px;
  height: 380px;
}

.app-2dv2 p {
  text-align: center;
  margin-bottom: 50px;
}

.app-3dv {
  text-align: center;
}
